.course-selection-system-container {
  background-image: url('./image/DefaultBackground.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.course-selection-system-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.course-selection-system-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

.course-selection-system-link:hover {
  background-color: #ddd;
}
